body{
	margin:0; 
	padding:0; 
	background: #000 url("https://m101.nthu.edu.tw/~s101080011/outer.png") center center fixed no-repeat;
	background-size: 100% 100%;
}
/*change map style*/
#mapCanvas{
	position:absolute;
	top:7%;
	left:5%;
	width:90%;
	height:85%;
}

#submitBox{
	position:absolute;
	top:30%;
	left:35%;
	width:30%;
	height:40%;
	background-color:rgba(255,255,255,0.5);
	border-radius: 15px;
	visibility:hidden;
	display:none;
	z-index:10000005;
	text-align:center;
}

#howBox{
	position:absolute;
	top:8%;
	left:10%;
	width:80%;
	height:84%;
	background-color:rgba(255,255,255,0.5);
	border-radius: 15px;
	visibility:hidden;
	display:none;
	z-index:10000005;
	text-align:center;
}

#how{
	position:absolute;
	top:7.5%;
	right:5.3%;
}

#words{
	font-family: 'Ubuntu', '微軟正黑體', sans-serif;
	font-size:18px;
}

#title1{
	font-family: 'Poiret+One', '微軟正黑體', cursive; 
	line-height: 65px;
	font-size:35px;
}

#title2{
	font-family: 'Ubuntu', '微軟正黑體', sans-serif;
	font-size:18px;
	line-height: 35px;

}

#howto{
	font-family: 'Ubuntu', '微軟正黑體', sans-serif;
	font-size:14px;	
}

#getId{
	position:relative;
	top:25%;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:6px;
	border:1px solid #54381e;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.btn:hover {	
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%); 
	background-color:#634b30
}
.btn:active {
	position:relative; 
	top:1px
}

/*action bar*/
#tt{
	position:absolute; 
	bottom:0%; 
	padding:0px; 
	margin:0px; 
	width:100%
}

#actionBar{
	list-style:none;
	background:url("https://m101.nthu.edu.tw/~s101080011/actionB.png"); 
	background-size:100% 100%; 
	background-repeat:no-repeat;  
	position: absolute; 
	left: 0px; 
	bottom: 0px; 
	width:100%; 
	height:100px
}

.actionItem{
	position:absolute; 
	bottom:0%; 
	left:0%; 
	margin:0px;
	width:100%;
}

#action{
	position:absolute; 
	bottom:0%; 
	left:0%; 
	height:70px;
}

#item{
	float:left; 
	list-style:none;
}

.actionItem li ul{
	display:none; 
	list-style:none;
}
.actionItem li:hover > ul{
	display:block;
}

#detail:hover{
	display:block;
}

.toThrow{
	position:relative; 
	bottom:0%;
	left:3%;
	height:100px;
	width:100px;
}
.toFollow{
	position:relative;
	bottom:0%; 
	left:33%;
	height:100px;
	width:100px;
}
.toPerson{
	position:relative;
	bottom:0%;
	left:33%;
	height:100px;
	width:100px;
}
.leave{
	position:relative;
	bottom:0%; 
	left:63%;
	height:100px;
	width:100px;
}
.toThrow:hover{
	content:url('https://m101.nthu.edu.tw/~s101080011/toThrowH.png');
}
.toFollow:hover{
	content:url('https://m101.nthu.edu.tw/~s101080011/toFollowH.png');
}
.toPerson:hover{
	content:url('https://m101.nthu.edu.tw/~s101080011/toPersonH.png');
}
.leave:hover{
	content:url('https://m101.nthu.edu.tw/~s101080011/leaveH.png');
}